<!DOCTYPE html>
<html>
<head>
    <title>Submit Ticket</title>
    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="style.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	
<style>
	.btn-custom {
		background-color: white;
		color: black;
		border-color: black;
	}
	</style>
</head>
<body>
    <!-- Style and navbar removed for brevity -->
    <div class="container">
        <h2 class="my-4">Submit Ticket</h2>
        <form method="POST">
            {{ form.hidden_tag() }}
            <!-- Customer and ticket info here -->
            <div class="row">
                <div class="col-md-6">
					<div class="form-group">
						{{ form.type_client.label(class="form-control-label") }}: {{ form.type_client(id="type_client", class="form-control") }}
					</div>
					<div class="form-group">
						{{ form.prenom.label(class="form-control-label") }}: {{ form.prenom(id="prenom", class="form-control") }}
					</div>
					<div class="form-group">
						{{ form.nom.label(class="form-control-label") }}: {{ form.nom(id="nom", class="form-control") }}
					</div>
					<div class="form-group">
						{{ form.tel.label(class="form-control-label") }}: {{ form.tel(id="tel", class="form-control") }}
					</div>
				</div>				
					<div class="tabbed-form" id="parts" class="part">
						<div id="tab-titles">
							<div class="tab-title active" id="buttons">
								<button class="btn btn-primary piece" id="piece1" type="button">Pièce 1</button>
							</div>
						</div>
						<button class="form-group" id="add-tab" type="button">Add Tab</button>
						<div>
							<div class="tab-content active" id="tab-content-1">
								<div class="form-group">
									{{ form.immat.label(class="form-control-label") }}
									{{ form.immat(class="form-control tabs", placeholder=form.immat.label.text) }}
								</div>
								<div class="form-group">
									{{ form.marque.label(class="form-control-label") }}
									{{ form.marque(class="form-control tabs", placeholder=form.marque.label.text) }}
								</div>
								<div class="form-group">
									{{ form.modele.label(class="form-control-label") }}
									{{ form.modele(class="form-control tabs", placeholder=form.modele.label.text) }}
								</div>
								<div class="form-group">
									{{ form.libelle.label(class="form-control-label") }}
									{{ form.libelle(class="form-control tabs", placeholder=form.libelle.label.text) }}
								</div>
								<div class="form-group">
									{{ form.code_constr_moteur.label(class="form-control-label") }}
									{{ form.code_constr_moteur(class="form-control tabs", placeholder=form.code_constr_moteur.label.text) }}
								</div>
								<div class="form-group">
									{{ form.energie.label(class="form-control-label") }}
									{{ form.energie(class="form-control tabs", placeholder=form.energie.label.text) }}
								</div>
							</div>
						</div>
						
					</div>
            </div>
            <form id="myForm" onsubmit="sendData(event)">
				<!-- your form fields here -->
				<div class="form-group" style="display:none">
					{{ form.submit(class="btn btn-primary") }}
				</div>
				<button class="btn btn-primary" onclick="submitForm()">Enregistrer</button>
			</form>
			
        </form>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script>

function insertAfter(referenceNode, newNode) {
  referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
}

immat = [];
marque = [];
modele = [];
libelle = [];
num = [];
energie = [];
var currentNum = 1;
var nbBoutons = 1;
$('#add-tab').click(function(){
	alert("ok");
	nbBoutons++;
	var link = document.getElementsByClassName(`tabs`);
		immat[currentNum] = link[0].value;
		marque[currentNum] = link[1].value;
		modele[currentNum] = link[2].value;
		libelle[currentNum] = link[3].value;
		num[currentNum] = link[4].value;
		energie[currentNum] = link[5].value;

		link[0].value="";
		link[1].value="";
	    link[2].value="";
		link[3].value="";
		link[4].value="";
		link[5].value="";

		currentButton = document.getElementById(`piece${currentNum}`);
		currentButton.className = "btn-custom piece";

		currentNum = nbBoutons;

		var a = document.createElement("button");
		a.type="button";
		a.innerText = `Pièce ${nbBoutons}`;
		a.className = "btn btn-primary piece";
		a.id = `piece${nbBoutons}`;

		var prec = document.getElementById("buttons");
		
		var removeBtn = document.createElement("button");
    	removeBtn.innerText = "X";
		removeBtn.type="button";
    	removeBtn.style.marginLeft = "5px"
		removeBtn.id=`delete${currentNum}`;

		a.appendChild(removeBtn);



		prec.appendChild(a);
});

$(document).on('click', "[id*='delete']", function(){
	var id = $(this).attr('id');
	nbBoutons-=1;
	numDeleted = id.replace(/[^0-9]/g,'');

	element = document.getElementById(id);
	element.remove();

	element = document.getElementById(`piece${numDeleted}`);
	element.remove();
	
	immat[numDeleted] = none;
	marque[numDeleted] = none;
	modele[numDeleted] = none;
	libelle[numDeleted] = none;
	num[numDeleted] = none;
	energie[numDeleted] = none;

	if (numDeleted == currentNum){
		currentNum-=1;
		element = document.getElementById(`piece${numDeleted}`);
		element.click();
	}
});

$(document).on('click', "[id*='piece']", function(){
	var id = $(this).attr('id');
	var link = document.getElementsByClassName(`tabs`);
		immat[currentNum] = link[0].value;
		marque[currentNum] = link[1].value;
		modele[currentNum] = link[2].value;
		libelle[currentNum] = link[3].value;
		num[currentNum] = link[4].value;
		energie[currentNum] = link[5].value;

		currentButton = document.getElementById(`piece${currentNum}`);
		currentButton.className = "btn-custom piece";


		currentNum = id.replace(/[^0-9]/g,'');

		this.className = "btn-primary piece";


		link[0].value=immat[currentNum];
		link[1].value=marque[currentNum];
	    link[2].value=modele[currentNum];
		link[3].value=libelle[currentNum];
		link[4].value=num[currentNum];
		link[5].value=energie[currentNum];
});

function submitForm() {

	var link = document.getElementsByClassName(`tabs`);
		immat[currentNum] = link[0].value;
		marque[currentNum] = link[1].value;
		modele[currentNum] = link[2].value;
		libelle[currentNum] = link[3].value;
		num[currentNum] = link[4].value;
		energie[currentNum] = link[5].value;

	let typeClientValue = document.getElementById('type_client').value;
let prenomValue = document.getElementById('prenom').value;
let nomValue = document.getElementById('nom').value;
let telValue = document.getElementById('tel').value;

	var dict= {
		"type_client" : typeClientValue,
		"prenom" : prenomValue,
		"nom" : nomValue,
		"tel" : telValue,
		"immat" : immat,
		"marque" : marque,
		"modele" : modele,
		"libelle" : libelle,
		"numero" : num,
		"energie" : energie,
		"category" : "Roues"
	}

	var json = JSON.stringify(dict);


	fetch('/get_data', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: json
    }).then(response => {
        if (!response.ok) {
            throw new Error("HTTP error " + response.status);
        }
        return response.json();
    }).then(json => {
        // Handle the JSON response here
    }).catch(function() {
        // Handle the error here
    });

	//event.preventDefault();
    document.getElementById("myForm").submit(); // make sure to replace "myForm" with the actual id of your form
}
	</script>
</body>
</html>
