<!DOCTYPE html>
<html>
<head>
    <title>Submit Ticket</title>
    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="style.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	
<style>
	.btn-custom {
		background-color: white;
		color: black;
		border-color: black;
	}
	#vertical-line {
  border-left: 1px solid black;
  position: absolute;
  top: 20%; /* The top margin is set to 10% of the viewport height */
  bottom: -60%; /* The bottom margin is set to 10% of the viewport height */
  left: 50%; /* This positions the line in the middle of the viewport */
}

.tooltip-wrapper {
    position: relative;
}

.tooltip-text {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-wrapper:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

	</style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="menu">
			<img width=200 src="static/soa.png" alt="Logo">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
		  <ul class="navbar-nav">
			<li class="nav-item active">
			  <a class="nav-link" href="menu">Menu</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="liste">Liste</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="ticket">Crée un ticket</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="user-db" target="_blank" onclick="openInNewTab(event)">Database</a>
			</li>
		  </ul>
		</div>
	  </nav>
    <!-- Style and navbar removed for brevity -->
    <div class="container">
		<br>
		<div class="form-group row col-6">
			<label class="col-form-label col-sm-4" style="font-weight: 500; font-size:x-large;">Message :</label>
			<div class="col-sm-5">
				<input type="text" class="form-control infos" id="info">
			</div>
		</div>
		<hr>

            <div class="col-6" style="float: left;">
                <div class="">

					<div class="form-group row">
    <label for="type_client" class="col-sm-4 col-form-label" style="font-weight: 700;">Type Client :</label>
    <div class="col-sm-6 infos">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="type_client" id="option1" value="option1" checked>
            <label class="form-check-label" for="option1">Particulier</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="type_client" id="option2" value="option2">
            <label class="form-check-label" for="option2">Professionnel</label>
        </div>
    </div>
</div>


					<div class="form-group row">
						<label for="type_client" class="col-sm-4 col-form-label" style="font-weight: 700;">{{ form.tel.label }} :</label>
						<div class="col-sm-6 infos">
							<div class="input-group">
								<span class="input-group-text">+33</span>
								{{ form.tel(id="tel", class="form-control", oninput="formatInput(this)", maxlength="14") }}
							</div>
						</div>
					</div>
					<div class="form-group row">
						<label for="type_client" class="col-sm-4 col-form-label" style="font-weight: 700;">Nom/Raison Sociale:</label>
						<div class="col-sm-6 infos">
						{{ form.nom(id="nom", class="form-control") }}
						</div>
					</div>

					

					<div class="form-group row">
						<label class="col-form-label col-sm-4" for="codePostal" style="font-weight: 700;">Code Postal:</label>
						<div class="col-sm-6 infos">
							<input type="text" class="form-control" id="codePostal">
						</div>
					</div>
					

<div class="row">
    <div class="col-sm-4">
        <label class="col-form-label" style="font-weight: 700;">Ouvert par:</label>
    </div>
    <div class="col-sm-6">
        <select class="form-control" id="employeeSelect">
            {% for emp in employee %}
                <option>{{ emp.nom }}</option>
            {% endfor %}
        </select>
    </div>
<br><br><br><br>
	<div id="myForm">
		<!-- your form fields here -->
		<div class="form-group" style="display:none; visibility: hidden;">
			{{ form.submit(class="btn") }}
		</div>
		<button class="btn btn-success" onclick="submitForm()" style="margin-left: 70%;">Enregistrer</button>
		
</div>

				</div>
				
				<div style="margin-right: 20px;
				margin-left: 20px;"></div>
	</div>
			</div>
			<div id="vertical-line"></div>
	<div class="col-6" style="float: right; height: 10%;">


					<div class="tabbed-form" id="parts" class="part">
						<div id="tab-titles" style="display: flex;">
							<div class="tab-title active" id="buttons">
								<button class="btn btn-primary piece" id="piece1" type="button">Pièce 1   <i style="display:none;" class="fas fa-times"></i></button>
							</div>
							<button class="btn btn-outline-primary" id="add-tab" type="button">
								<i class="fas fa-plus"></i>
							</button>
						</div>
						<hr>
						
						<div>
							<div class="tab-content active" id="tab-content-1">
								<div class="form-group row">
									<label for="type_client" class="col-sm-6 col-form-label" style="font-weight: 700;font-size: x-large;">Libellé :</label>
									<div class="col-sm-6">
									{{ form.libelle(class="form-control", id="libel") }}
									</div>
								</div>
								<div class="form-group row">
									<label for="type_client" class="col-sm-6 col-form-label" style="font-weight: 700;">{{ form.immat.label }} :</label>
									<div class="col-sm-6">
									{{ form.immat(class="form-control tabs") }}
									</div>
								</div>
								<div class="form-group row">
									<label for="marque" class="col-sm-6 col-form-label" style="font-weight: 700;">Marque :</label>
									<div class="col-sm-6">
										<select id="marque" class="form-control tabs">
											<option value="" disabled selected>Select Marque</option>
											{% for marque in data %}
												<option value="{{ marque }}">{{ marque }}</option>
											{% endfor %}
										</select>
									</div>
								</div>
								<div class="form-group row">
									<label for="modele" class="col-sm-6 col-form-label" style="font-weight: 700;">Modele :</label>
									<div class="col-sm-6">
										<select id="modele" class="form-control tabs">
											<option value="" disabled selected>Select Modele</option>
										</select>
									</div>
								</div>
								<div class="form-group row">
									<label for="phase" class="col-sm-6 col-form-label" style="font-weight: 700;">Phase :</label>
									<div class="col-sm-6">
										<select id="phase" class="form-control phase">
											<option value="" disabled selected>Select Phase</option>
										</select>
									</div>
								</div>
								
								
								<div class="form-group row", style="display: none;">
									<label for="type_client" class="col-sm-6 col-form-label" style="font-weight: 700;">{{ form.libelle.label }} :</label>
									<div class="col-sm-6">
									{{ form.libelle(class="form-control tabs") }}
									</div>
								</div>
								<div class="form-group row">
									<label for="type_client" class="col-sm-6 col-form-label" style="font-weight: 700;">{{ form.code_constr_moteur.label }} :</label>
									<div class="col-sm-6">
									{{ form.code_constr_moteur(class="form-control tabs") }}
									</div>
								</div>
								<div class="form-group row">
									<label class="col-form-label col-sm-6" style="font-weight: 700;">Ref Moteur :</label>
									<div class="col-sm-6">
										<input type="text" class="form-control infos" id="moteur">
									</div>
								</div>
								<div class="form-group row">
									<label for="phase" class="col-sm-6 col-form-label" style="font-weight: 700;">Type d'énergie :</label>
									<div class="col-sm-6">
										<select id="phase" class="form-control tabs">
											<option>Diesel</option>
											<option>Essence</option>
											<option>Electrique</option>
											<option>Hybrid</option>
											<option>Essence GPL</option>
										</select>
									</div>
								</div>
							

								<div class="form-group row">
									<label class="col-form-label col-sm-6" for="codePostal" style="font-weight: 700;">Détails :</label>
									<div class="col-sm-6">
										<input type="text" class="form-control tabs" id="details">
									</div>
								</div>


								<div class="row">
									<div class="col-sm-6">
										<label class="col-form-label" style="font-weight: 700;">Catégorie :</label>
									</div>
									<div class="col-sm-6">
										<select class="form-control tabs" id="categorySelect">
											{% for cat in category %}
    {% if loop.first %}
        <option selected>{{ cat.category_name }}</option>
    {% else %}
        <option>{{ cat.category_name }}</option>
    {% endif %}
{% endfor %}

										</select>
									</div>
								</div>
								<br>&nbsp;&nbsp;&nbsp;&nbsp;
								<div class="col-sm-6">
									<input class="form-check-input" type="checkbox" value="" id="check">
									<label class="form-check-label" for="exampleCheckbox">
										Ajouter des dimensions de pneu
									</label>
									<div id="dimensions" style="display: none;" class="row">
										<div class="col p-0 tooltip-wrapper">
											<input type="text" class="form-control tooltip-input" id="dimp1">
											<div class="tooltip-text">Largeur</div>
										</div><p>/</p>
										<div class="col p-0 tooltip-wrapper">
											<input type="text" class="form-control tooltip-input" id="dimp2">
											<div class="tooltip-text">Hauteur</div>
										</div>
										<div class="col p-0 tooltip-wrapper">
											<input type="text" class="form-control tooltip-input" id="dimp3">
											<div class="tooltip-text">Dimension de la jante</div>
										</div>
										<div class="col p-0 tooltip-wrapper">
											<input type="text" class="form-control tooltip-input" id="dimp4">
											<div class="tooltip-text">Capacité de charge</div>
										</div>
										<div class="col p-0 tooltip-wrapper">
											<input type="text" class="form-control tooltip-input" id="dimp5">
											<div class="tooltip-text">Indice de vitesse</div>
										</div>
									</div>
								</div>
								
								
								
								
								<br><br><br>
        						
							</div>
						</div>
						
					</div>
            </div>
			
	</div>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script>


document.getElementById('check').addEventListener('change', function() {
    var dimensions = document.getElementById('dimensions');
    if (this.checked) {
        dimensions.style.display = 'flex';
    } else {
        dimensions.style.display = 'none';
    }
});


$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})


function formatInput(input) {
    const value = input.value.replace(/\D/g, "").substring(0,10); // remove non-digits and limit length
    let formatted = '';
    for (let i = 0; i < value.length; i++) {
        if (value[0] === '0') { // if first digit is '0'
		input.maxLength = "14";
            if (i !== 0 && i % 2 === 0) formatted += '.'; // insert dot every 2 digits
        } else { // if first digit is not '0'
		input.maxLength = "13";
            if (i !== 0 && i % 2 !== 0) formatted += '.'; // insert dot every 2 digits, starting from the second digit
        }
        formatted += value[i];
    }
    input.value = formatted;
}





$(document).ready(function() {
    var data = {{ data | tojson }};
    $('#marque, #modele').change(function() {
        var selectedMarque = $('#marque').val();
        var selectedModel = $('#modele').val();
        
        if ($(this).attr('id') === 'marque') {
            var models = Object.keys(data[selectedMarque]);
            $('#modele').empty();
            $('#modele').append(new Option("Select Modele", "", true, true)); // Added
            $.each(models, function(index, model) {
                $('#modele').append(new Option(model, model));
            });
            $('#modele').change();
        } else if ($(this).attr('id') === 'modele') {
            var phases = data[selectedMarque][selectedModel];
            $('#phase').empty();
            $('#phase').append(new Option("Select Phase", "", true, true)); // Added
            $.each(phases, function(index, phase) {
                $('#phase').append(new Option(phase, phase));
            });
        }
    }).change();
});

function clearFields() {
    var links = document.getElementsByClassName(`tabs`);
    for (let l of links){
        l.value = "";
    }
    var links2 = document.getElementsByClassName(`infos`);
    for (let l of links2){
        l.value = "";
    }
}


function resetSelectFields() {
    $('#marque').prop('selectedIndex', 0);
    $('#modele').empty().append(new Option("Select Modele", "", true, true));
    $('#phase').empty().append(new Option("Select Phase", "", true, true));
}

// You can call this function whenever you want to reset the select fields
resetSelectFields();



function insertAfter(referenceNode, newNode) {
  referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
}

function openInNewTab(event) {
    event.preventDefault(); // Prevent the default link behavior
    const url = event.currentTarget.getAttribute('href');
    const newTab = window.open(url, '_blank');
    newTab.focus();
  }

immat = [];
marque = [];
modele = [];
libelle = [];
num = [];
energie = [];
categ = [];
details = [];
ref_mot=[]

check = [];
dimp1 = [];
dimp2 = [];
dimp3 = [];
dimp4 = [];
dimp5 = [];


phase = [];
var nbBoutons = 1;
var id_count = 1;
$('#add-tab').click(function(){
	currentButton = document.getElementsByClassName(`btn-primary`)[0];
	currentNum = currentButton.id.replace(/[^0-9]/g,'');
	nbBoutons++;
	id_count++;
	var link = document.getElementsByClassName(`tabs`);
	var libelEl = document.getElementById("libel");
		immat[currentNum] = link[0].value;
		marque[currentNum] = link[1].value;
		modele[currentNum] = link[2].value;
		libelle[currentNum] = libelEl.value;
		num[currentNum] = link[4].value;
		energie[currentNum] = link[5].value;
		details[currentNum] = link[6].value;
		categ[currentNum] = link[7].value;

		var checkEl = document.getElementById("check");
		var dimp1El = document.getElementById("dimp1");
		var dimp2El = document.getElementById("dimp2");
		var dimp3El = document.getElementById("dimp3");
		var dimp4El = document.getElementById("dimp4");
		var dimp5El = document.getElementById("dimp5");


		check[currentNum] = checkEl.checked;
		dimp1[currentNum] = dimp1El.value;
		dimp2[currentNum] = dimp2El.value;
		dimp3[currentNum] = dimp3El.value;
		dimp4[currentNum] = dimp4El.value;
		dimp5[currentNum] = dimp5El.value;


		var phaseElement = document.getElementsByClassName(`phase`)[0];
		var moteurElement = document.getElementById("moteur");

		ref_mot[currentNum] = moteurElement.value;


		phase[currentNum] = phaseElement.value;


		link[0].value="";
		//link[1].value="";
	    //link[2].value="";
		link[3].value="";
		link[4].value="";
		link[5].value="";
		link[6].value="";
		//link[7].value="";

		libelEl.value = "";

		moteurElement.value = "";

		checkEl.checked = false;
		dimp1El.value = ""
		dimp2El.value = ""
		dimp3El.value = ""
		dimp4El.value = ""
		dimp5El.value = ""


		var dimensions = document.getElementById('dimensions');

        dimensions.style.display = 'none';



		resetSelectFields();


		currentButton.className = "btn btn-custom piece";

		currentNum = nbBoutons;

		var a = document.createElement("button");
		a.type="button";
		a.innerText = `Pièce ${id_count}   `;
		a.className = "btn btn-primary piece";
		a.id = `piece${id_count}`;

		var prec = document.getElementById("buttons");



		var icon = document.createElement('i');
		icon.className = "fas fa-times";
		icon.id = `delete${id_count}`;


		a.appendChild(icon);



		prec.appendChild(a);
});

$(document).on('click', "[id*='delete']", function(event){
	currentButton = document.getElementsByClassName(`btn-primary`)[0];
	currentNum = currentButton.id.replace(/[^0-9]/g,'');

	event.stopPropagation();
	var id = $(this).attr('id');
	nbBoutons-=1;
	numDeleted = id.replace(/[^0-9]/g,'');

	element = document.getElementById(id);
	element.remove();

	element = document.getElementById(`piece${numDeleted}`);
	element.remove();

	
	
	immat[numDeleted] = undefined;
	marque[numDeleted] = undefined;
	modele[numDeleted] = undefined;
	libelle[numDeleted] = undefined;
	num[numDeleted] = undefined;
	energie[numDeleted] = undefined;
	details[numDeleted] = undefined;
	categ[numDeleted] = undefined;

	phase[numDeleted] = undefined;

	ref_mot[numDeleted] = undefined;

	check[numDeleted] = false;
	dimp1[numDeleted] = undefined;
	dimp2[numDeleted] = undefined;
	dimp3[numDeleted] = undefined;
	dimp4[numDeleted] = undefined;
	dimp5[numDeleted] = undefined;

	

	if (numDeleted == currentNum){
		currentButton = null;
		while (currentButton === null){
			currentNum-=1;
			currentButton = document.getElementById(`piece${currentNum}`);
		}
		currentButton.className = "btn btn-primary piece";

		var link = document.getElementsByClassName(`tabs`);
		var phaseElement = document.getElementsByClassName(`phase`)[0];

		var moteurElement = document.getElementById("moteur");
		var libelEl = document.getElementById("libel");


		var checkEl = document.getElementById("check");
		var dimp1El = document.getElementById("dimp1");
		var dimp2El = document.getElementById("dimp2");
		var dimp3El = document.getElementById("dimp3");
		var dimp4El = document.getElementById("dimp4");
		var dimp5El = document.getElementById("dimp5");

		link[0].value=immat[currentNum];
		//link[3].value=libelle[currentNum];
		libelEl.value = libelle[currentNum];
		link[4].value=num[currentNum];
		link[5].value=energie[currentNum];
		link[6].value=details[currentNum];
		link[7].value=categ[currentNum];

		moteurElement.value = ref_mot[currentNum];

		checkEl.checked = check[currentNum];
		dimp1El.value = dimp1[currentNum];
		dimp2El.value = dimp2[currentNum];
		dimp3El.value = dimp3[currentNum];
		dimp4El.value = dimp4[currentNum];
		dimp5El.value = dimp5[currentNum];

		var dimensions = document.getElementById('dimensions');
    if (checkEl.checked) {
        dimensions.style.display = 'flex';
    } else {
        dimensions.style.display = 'none';
    }
	}

	if (marque[currentNum] === ''){
			resetSelectFields()
		}
	else if(modele[currentNum] === ''){
			$('#modele').empty().append(new Option("Select Modele", "", true, true));
    		$('#phase').empty().append(new Option("Select Phase", "", true, true));
		}
	else if (phase[currentNum] === ''){
    		$('#phase').empty().append(new Option("Select Phase", "", true, true));
		}
	else {
		$('#marque').val(marque[currentNum]).change()
		$('#modele').val(modele[currentNum]).change()
		phaseElement.value = phase[currentNum]
	}
});

$(document).on('click', "[id*='piece']", function(){
	currentButton = document.getElementsByClassName(`btn-primary`)[0];
	currentNum = currentButton.id.replace(/[^0-9]/g,'');
	var id = $(this).attr('id');
	var link = document.getElementsByClassName(`tabs`);
	var phaseElement = document.getElementsByClassName(`phase`)[0];
	var moteurElement = document.getElementById("moteur");
	var libelEl = document.getElementById("libel");

	var checkEl = document.getElementById("check");
		var dimp1El = document.getElementById("dimp1");
		var dimp2El = document.getElementById("dimp2");
		var dimp3El = document.getElementById("dimp3");
		var dimp4El = document.getElementById("dimp4");
		var dimp5El = document.getElementById("dimp5");

		immat[currentNum] = link[0].value;
		marque[currentNum] = link[1].value;
		modele[currentNum] = link[2].value;
		libelle[currentNum] = libelEl.value;
		num[currentNum] = link[4].value;
		energie[currentNum] = link[5].value;
		details[currentNum] = link[6].value;
		categ[currentNum] = link[7].value;

		ref_mot[currentNum] = moteurElement.value;

		phase[currentNum] = phaseElement.value;

		check[currentNum] = checkEl.checked;
		dimp1[currentNum] = dimp1El.value;
		dimp2[currentNum] = dimp2El.value;
		dimp3[currentNum] = dimp3El.value;
		dimp4[currentNum] = dimp4El.value;
		dimp5[currentNum] = dimp5El.value;

		currentButton.className = "btn btn-custom piece";


		currentNum = id.replace(/[^0-9]/g,'');

		this.className = "btn btn-primary piece";


		if (marque[currentNum] === ''){
			resetSelectFields()
		}
		if (modele[currentNum] === ''){
			$('#modele').empty().append(new Option("Select Modele", "", true, true));
    		$('#phase').empty().append(new Option("Select Phase", "", true, true));
		}
		if (phase[currentNum] === ''){
    		$('#phase').empty().append(new Option("Select Phase", "", true, true));
		}


		link[0].value=immat[currentNum];
				try{
		$('#marque').val(marque[currentNum]).change()
		$('#modele').val(modele[currentNum]).change()}
		catch{}
	    link[2].value=modele[currentNum];
		libelEl.value=libelle[currentNum];
		link[4].value=num[currentNum];
		link[5].value=energie[currentNum];
		link[6].value=details[currentNum];


		checkEl.checked = check[currentNum];
		dimp1El.value = dimp1[currentNum];
		dimp2El.value = dimp2[currentNum];
		dimp3El.value = dimp3[currentNum];
		dimp4El.value = dimp4[currentNum];
		dimp5El.value = dimp5[currentNum];

		var dimensions = document.getElementById('dimensions');
    if (checkEl.checked) {
        dimensions.style.display = 'flex';
    } else {
        dimensions.style.display = 'none';
    }

		link[7].value=categ[currentNum];

		moteurElement.value = ref_mot[currentNum];

		phaseElement.value = phase[currentNum];
});


function submitForm() {
	currentButton = document.getElementsByClassName(`btn-primary`)[0];
	currentNum = currentButton.id.replace(/[^0-9]/g,'');

	var link = document.getElementsByClassName(`tabs`);
	var phaseElement = document.getElementsByClassName(`phase`)[0];
	var moteurElement = document.getElementById("moteur");
	var libelEl = document.getElementById("libel");

	var checkEl = document.getElementById("check");
		var dimp1El = document.getElementById("dimp1");
		var dimp2El = document.getElementById("dimp2");
		var dimp3El = document.getElementById("dimp3");
		var dimp4El = document.getElementById("dimp4");
		var dimp5El = document.getElementById("dimp5");

		immat[currentNum] = link[0].value;
		marque[currentNum] = link[1].value;
		modele[currentNum] = link[2].value;
		libelle[currentNum] = libelEl.value;
		num[currentNum] = link[4].value;
		energie[currentNum] = link[5].value;
		details[currentNum] = link[6].value;
		categ[currentNum] = link[7].value;

		check[currentNum] = checkEl.checked;
		dimp1[currentNum] = dimp1El.value;
		dimp2[currentNum] = dimp2El.value;
		dimp3[currentNum] = dimp3El.value;
		dimp4[currentNum] = dimp4El.value;
		dimp5[currentNum] = dimp5El.value;

		ref_mot[currentNum] = moteurElement.value;

		phase[currentNum] = phaseElement.value;

	let typeClientValue;

	var radios = document.getElementsByName('type_client');
    for (var i = 0, length = radios.length; i < length; i++) {
        if (radios[i].checked) {
            // The radio button is selected, return its value
            typeClientValue = radios[i].value;
        }
    }

let nomValue = document.getElementById('nom').value;
let telValue = "+33" + document.getElementById('tel').value;

telValue = telValue.replace('+330', '+33');


let employeeValue = document.getElementById('employeeSelect').value;
let codepostalValue = document.getElementById('codePostal').value;
let ticketInfo = document.getElementById('info').value;

dim_pneu = [];

for (let i=0; i<dimp1.length; i++){
	dim_pneu[i] = dimp1[i] + "/" + dimp2[i] +" "+ dimp3[i] +" "+ dimp4[i] +" "+ dimp5[i];
	if (dim_pneu[i].includes("undefined") || !check[i]){
		dim_pneu[i] = "";
	}
	if (!dimp1[i] || !dimp2[i] || !dimp3[i] || !dimp4[i] || !dimp5[i]){
		dim_pneu[i] = "";
	}
}


	var dict= {
		"type_client" : typeClientValue,
		"nom" : nomValue,
		"tel" : telValue,
		"code_postal" : codepostalValue,
		"immat" : immat,
		"marque" : marque,
		"modele" : modele,
		"libelle" : libelle,
		"numero" : num,
		"ref_mot": ref_mot,
		"energie" : energie,
		"category" : categ,
		"details" : details,
		"employee" : employeeValue,
		"phase" : phase,
		"info" : ticketInfo,
		"dimension_pneu" : dim_pneu
	}

	var json = JSON.stringify(dict);


	fetch('/get_data', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: json
    }).then(response => {
        if (!response.ok) {
            throw new Error("HTTP error " + response.status);
        }
        return response.json();
    }).then(json => {
        // Handle the JSON response here
    }).catch(function() {
        // Handle the error here
    });
	clearFields()

	//event.preventDefault();
	window.location.href = "/liste";


}
	</script>
</body>
</html>
