<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestion des Tickets</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">


  <!-- Custom CSS -->
  <style>
    .ticket-list-item {
      cursor: pointer;
    }
    .ticket-details {
      display: none;
    }
    .piece-info {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;





}

  </style>
</head>
<body>
  <div class="container">
    <h1 class="my-4">Gestion des Tickets</h1>
    
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#" id="all" onclick="changeCategory(this)">Tous les Tickets</a>
      </li>
        {% for categ in category %}
          {% set ns = namespace(numer_of_piece=0) %}
            {% for ticket in tickets %}
              {% if ticket.status != "Terminé" %}
                {% for piece in ticket.pieces %}
                  {% if piece.category_id == categ.id %}
                    {% set ns.numer_of_piece = ns.numer_of_piece + 1 %}
                    {% endif %}
                    {% endfor %}
                  {% endif %}
                {% endfor %}

      <li class="nav-item">
        <a class="nav-link" href="#" style="color: {{categ.color}}; font-weight: bold;" id="{{categ.id}}" onclick="changeCategory(this)">{{categ.category_name}} ({{ns.numer_of_piece}})</a>
      </li>
      {% endfor %}
    </ul>

    <div class="list-group my-4">
      <!-- Un ticket -->
      <div class="list-group-item ticket-list-item">
        {% for ticket in tickets %}
          {% if ticket.status != "Terminé" %}

          {% set ns = namespace(first_piece_color='') %}
    {% for piece in ticket.pieces %}
        {% if loop.first %}
            {% set ns.first_piece_color = piece.category.color %}
        {% endif %}
    {% endfor %}
<div class="card mb-1 ticketItem" style="border-color: {{ns.first_piece_color}};">
  <div class="card-header" id="heading{{ ticket.id }}" data-toggle="collapse" data-target="#collapse{{ ticket.id }}" aria-expanded="false" aria-controls="collapse{{ ticket.id }}" style="cursor: pointer;">
    <h5 class="mb-0">Ticket #{{ ticket.id }}: {% for piece in ticket.pieces %}<span class="badge" style="background-color: {{ piece.category.color }}; color:white;">{{ piece.libelle }}</span>&nbsp;{% endfor %}</h5>
    <p class="mb-1">Téléphone: {{ ticket.user.tel }} | Statut: {{ ticket.status }} | Date: 2023-06-28 14:45 | Crée par Lisa</p>
  </div>

  <div id="collapse{{ ticket.id }}" class="collapse" aria-labelledby="heading{{ ticket.id }}" data-parent="#accordion">
    <div class="card-body">
      <span class="badge" style="color: black; border: 1px solid black; font-size: 1em; font-weight: 400;">Prenom: {{ticket.user.prenom}}</span>&nbsp;
      <span class="badge" style="color: black; border: 1px solid black; font-size: 1em; font-weight: 400;"> Nom: {{ticket.user.prenom}}</span>&nbsp;
      <span class="badge" style="color: black; border: 1px solid black; font-size: 1em; font-weight: 400;">Type de client: {{ticket.user.prenom}}</span>
      &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
      <button type="button" class="btn btn-success" onclick="terminer(this)" id="#{{ticket.id}}">
        Terminer le ticket
      </button><br>
      {% for piece in ticket.pieces %}
      <hr>
      <span class="badge {{piece.category_id}}" style="color: black; border: 1px solid {{ piece.category.color }}; font-size: 1em;">{{ piece.libelle }}</span>
      <br><br>
      <span class="badge" style="color: black; border: 1px solid black; font-size: 1em; font-weight: 400;"> <strong>Immatriculation:</strong> <span class="immat_{{ piece.id }}">{{piece.immat}}</span></span>&nbsp;
      <span class="badge" style="color: black; border: 1px solid black; font-size: 1em; font-weight: 400;"> <strong>Marque:</strong> <span class="marque_{{ piece.id }}">{{piece.marque}}</span></span>&nbsp;
      <span class="badge" style="color: black; border: 1px solid black; font-size: 1em; font-weight: 400;"> <strong>Modèle:</strong> <span class="modele_{{ piece.id }}">{{piece.modele}}</span></span>&nbsp;
      <span class="badge" style="color: black; border: 1px solid black; font-size: 1em; font-weight: 400;"> <strong>Numéro de fabricant/Moteur::</strong> <span class="num_{{ piece.id }}">{{piece.numero}}</span></span>&nbsp;
      <span class="badge" style="color: black; border: 1px solid black; font-size: 1em; font-weight: 400;"> <strong>Prix:</strong> <span class="prix_{{ piece.id }}">{{piece.prix}}</span></span>&nbsp;

      <button type="button" class="btn btn-warning" onclick="editPiece(this)" id="{{ piece.id }}_{{ ticket.id }}">
        Edit
      </button><br><br>
      
      {% set etats = ['En attente de traitement', 'Disponible', 'Disponible à démonter', 'Indisponible'] %}

      <select id="etatPiece_{{ piece.id }}_{{ ticket.id }}" style="background-color: white;" class="form-control selectClass">
      {% for etat in etats %}
          {% if piece.etat == etat %}
              <option selected>{{ etat }}</option>
          {% else %}
              <option>{{ etat }}</option>
          {% endif %}
      {% endfor %}
      </select><br>


      <label for="exampleInput">Géré par:</label>

      <select class="form-control" id="employeePiece_{{ piece.id }}_{{ ticket.id }}" style="background-color: white;">
        <option selected disabled value="">Choisir un employé...</option>
        {% for emp in employee %}
          {% if piece.gere_par == emp.id %}
            <option value="{{emp.id}}">{{ emp.nom }}</option>
          {% else %}
            <option value="{{emp.id}}">{{ emp.nom }}</option>
          {% endif %}
        {% endfor %}
</select>

      

    
      
      
      {% endfor %}

    </div>
  </div>
</div>
{% endif %}
{% endfor %}

      <!-- Ajoutez d'autres tickets comme celui-ci -->
    </div>
  </div>

  <!-- Bootstrap JS & jQuery -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script>

$(document).ready(function() {
    $("select[id*='employeePiece']").change(function() {
      alert(1);
      alert($(this).attr('id'));
        var dict = {
          "gere_par" : $(this).val()
        }
        let id = parseInt($(this).attr('id').split('_')[1], 10);
        alert(id);

        fetch('/update/Piece/' + id, {
    method: 'POST',
    headers: {
        'Content-Type': 'application/json'
    },
    body: JSON.stringify(dict)
}).then(response => {
    if (!response.ok) {
        throw new Error("HTTP error " + response.status);
    }
})
    });
});



const regex = /(\d+)_(\d+)/;

function editPiece(btn) {

  var id = btn.id;
  const match = id.match(regex);

  let pieceId = match[1];
let ticketId = match[2];


  var p = btn.parentElement.querySelector(`.immat_${pieceId}`);
  var p2 = btn.parentElement.querySelector(`.marque_${pieceId}`);
  var p3 = btn.parentElement.querySelector(`.modele_${pieceId}`);
  var p4 = btn.parentElement.querySelector(`.num_${pieceId}`);
  var p5 = btn.parentElement.querySelector(`.prix_${pieceId}`);

  // Create a new input element
  var input = document.createElement("input");
  var input2 = document.createElement("input");
  var input3 = document.createElement("input");
  var input4 = document.createElement("input");
  var input5 = document.createElement("input");

  input.className = `immat_${pieceId}`;
  input2.className = `marque_${pieceId}`;
  input3.className = `modele_${pieceId}`;
  input4.className = `num_${pieceId}`;
  input5.className = `prix_${pieceId}`;

  
  // Set the value of the input to the content of the paragraph
  input.value = p.textContent;
  input2.value = p2.textContent;
  input3.value = p3.textContent;
  input4.value = p4.textContent;
  input5.value = p5.textContent;
  
  // Replace the paragraph with the input
  p.parentNode.replaceChild(input, p);
  p2.parentNode.replaceChild(input2, p2);
  p3.parentNode.replaceChild(input3, p3);
  p4.parentNode.replaceChild(input4, p4);
  p5.parentNode.replaceChild(input5, p5);


  btn.textContent = "Save";
  btn.className = "btn btn-success";
  btn.onclick = function() {
  savePiece(this);
  }
};






function savePiece(btn) {

  var id = btn.id;
  const match = id.match(regex);

  let pieceId = match[1];
let ticketId = match[2];

  btn.textContent = "Edit";
  btn.className = "btn btn-warning";
  btn.onclick = function() {
  editPiece(this);
  }

  var p = btn.parentElement.querySelector(`.immat_${pieceId}`);
  var p2 = btn.parentElement.querySelector(`.marque_${pieceId}`);
  var p3 = btn.parentElement.querySelector(`.modele_${pieceId}`);
  var p4 = btn.parentElement.querySelector(`.num_${pieceId}`);
  var p5 = btn.parentElement.querySelector(`.prix_${pieceId}`);



var dataPiece= {
		"immat" : p.value,
		"marque" : p2.value,
		"modele" : p3.value,
		"numero" : p4.value,
		"prix" : p5.value
	}

  var dataTicket = {
    "status" : "En cours"
  }



  var span = document.createElement("span");
  var span2 = document.createElement("span");
  var span3 = document.createElement("span");
  var span4 = document.createElement("span");
  var span5 = document.createElement("span");


  span.className = `immat_${pieceId}`;
  span2.className = `marque_${pieceId}`;
  span3.className = `modele_${pieceId}`;
  span4.className = `num_${pieceId}`;
  span5.className = `prix_${pieceId}`;

  span.textContent = p.value;
  span2.textContent = p2.value;
  span3.textContent = p3.value;
  span4.textContent = p4.value;
  span5.textContent = p5.value;

  p.parentNode.replaceChild(span, p);
  p2.parentNode.replaceChild(span2, p2);
  p3.parentNode.replaceChild(span3, p3);
  p4.parentNode.replaceChild(span4, p4);
  p5.parentNode.replaceChild(span5, p5);



fetch('/update/Piece/' + pieceId, {
    method: 'POST',
    headers: {
        'Content-Type': 'application/json'
    },
    body: JSON.stringify(dataPiece)
}).then(response => {
    if (!response.ok) {
        throw new Error("HTTP error " + response.status);
    }
}).then(() => {; // Notice here
    // Second request
    return fetch('/update/Ticket/' + ticketId, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(dataTicket)
    });
}).then(response => {
    if (!response.ok) {
        throw new Error("HTTP error " + response.status);
    }
}).catch(function() {
    // Handle the error here
});

  }

  window.onload = function() {
  var selects = document.getElementsByClassName('selectClass');
  for(var i=0; i<selects.length; i++){
    selects[i].addEventListener("change", function() {

      var id = this.id;
      const match = id.match(regex);


     let dataPiece = {
    "etat" : this.value
};

let dataTicket = {
    "status" : "En cours"
};

let pieceId = match[1];
let ticketId = match[2];

// First request
fetch('/update/Piece/' + pieceId, {
    method: 'POST',
    headers: {
        'Content-Type': 'application/json'
    },
    body: JSON.stringify(dataPiece)
}).then(response => {
    if (!response.ok) {
        throw new Error("HTTP error " + response.status);
    }
}).then(() => {; // Notice here
    // Second request
    return fetch('/update/Ticket/' + ticketId, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(dataTicket)
    });
}).then(response => {
    if (!response.ok) {
        throw new Error("HTTP error " + response.status);
    }
}).catch(function() {
    // Handle the error here
});

  });
  }
  }

function terminer(btn){
  var id = btn.id.replace(/[^0-9]/g,'');

  var dict = {
    "status" : "Terminé"
  }

  fetch('/update/Ticket/' + id, {
    method: 'POST',
    headers: {
        'Content-Type': 'application/json'
    },
    body: JSON.stringify(dict)
}).then(response => {
    if (!response.ok) {
        throw new Error("HTTP error " + response.status);
    }
})
  btn.parentNode.parentNode.parentNode.style.display = 'none';

}

function changeCategory(el) {

  var searchString = 'collapse';

// Get all elements whose IDs contain the search string
var elements = document.querySelectorAll('[id*="' + searchString + '"]');


// Set display: none for each matching element
elements.forEach(function(element) {
  element.parentNode.style.display = 'none';
});

  var selectedCategory = el.id;
  
  // If "All" is selected, show all tickets
  if (selectedCategory === "all") {
    showAllTickets();
  }
  else {
    // Otherwise, only show tickets of the selected category
    showTicketsByCategory(selectedCategory);
  }
};


function showAllTickets() {
  var searchString = 'collapse';

// Get all elements whose IDs contain the search string
var elements = document.querySelectorAll('[id*="' + searchString + '"]');


// Set display: none for each matching element
elements.forEach(function(element) {
  element.parentNode.style.display = 'block';
});
}

function showTicketsByCategory(categoryId) {
  var tickets = document.getElementsByClassName(categoryId);

  for (var i = 0; i < tickets.length; i++) {

    var parentElement = tickets[i].parentNode;
    var grandparentElement = parentElement.parentNode;
    parentElement.parentNode.parentNode.style.display = 'block';
}
}






</script>

</body>
</html>
