<div>
    <div class="tab-content active" id="tab-content-1">
        <div class="form-group">
            <input type="text" class="form-control tabs" name="immat" placeholder="{{ form.immat.label.text }}">
        </div>
        <div class="form-group">
            <input type="text" class="form-control tabs" name="marque" placeholder="{{ form.marque.label.text }}">
        </div>
        <div class="form-group">
             <input type="text" class="form-control tabs" name="modele" placeholder="{{ form.modele.label.text }}">
        </div>
        <div class="form-group">
            <input type="text" class="form-control tabs" name="libelle" placeholder="{{ form.libelle.label.text }}">

        </div>
        <div class="form-group">
            <input type="text" class="form-control tabs" name="code_constr_moteur" placeholder="{{ form.code_constr_moteur.label.text }}">
        </div>
        <div class="form-group">
            <input type="text" class="form-control tabs" name="energie" placeholder="{{ form.energie.label.text }}">
        </div>
    </div>
</div>